.container {
  text-align: center;
  font-size: 15px;
  line-height: 16px;
}
.green {
  background: rgb(131, 197,1);
}
.orange {
  background: rgb(247, 178, 0);
}
.red {
  background: rgb(238, 63, 8);
}
.purple {
  background: rgb(246, 7, 162);
}
.violet {
  background: rgb(112, 182, 254);
}
.grid-container {
  display: grid;
}
.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px
}
.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.grid-element {
  /* background-color: deepPink; */
  padding: 10px 2px;
  color: #fff;
  border: 1px solid #fff;
  width: auto;
  height: 80px;
}
.iconParent {
  height: 80px;
  position: relative;
}
.icon {
  height: 80px;
  width: 80px;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-primary {
  margin-bottom: 2rem;
}
#dayOne,
#dayThree,
#dayFive {
  background-color: lightgray;
}
/* .container {
  display: grid;
} */

/* .item {
  display: flex;
  padding: auto;
  margin: auto;
} */

/* .list-group-item {
  align-items: center;
} */