.container {
  text-align: center;
  font-size: 15px;
  line-height: 17px;
}
.green {
  background: rgb(131, 197,1);
}
.orange {
  background: rgb(247, 178, 0);
}
.red {
  background: rgb(238, 63, 8);
}
.purple {
  background: rgb(246, 7, 162);
}
.violet {
  background: rgb(112, 182, 254);
}
.forecastDates {
  font-weight: bold;
}
.grid-container {
  display: grid;
}
.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;
    text-align: center;
    padding: 12px 20px;
}
.grid-element {
  padding: 10px 2px;
  color: #fff;
  /* border: 1px solid #fff; */
  width: auto;
  height: 80px;
  margin: 1px;
}
.current {
  font-size: 19px;
  font-weight: bold;
  line-height: 21px;
}
.iconParent {
  height: 80px;
  position: relative;
}
.icon {
  height: 80px;
  width: 80px;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-secondary.btn-sm {
  margin: 3px;
}
#changeLocBtn {
  margin-bottom: 3rem;
}
.forecastDesc {
  margin-top: 50px;
}
#dayOne,
#dayThree,
#dayFive {
  background-color: lightgray;
}
