.container {
  text-align: center;
}
.green {
  background: rgb(131, 197,1);
}
.orange {
  background: rgb(247, 178, 0);
}
.red {
  background: rgb(238, 63, 8);
}
.purple {
  background: rgb(246, 7, 162);
}
.violet {
  background: rgb(112, 182, 254);
}

/* .container {
  display: grid;
} */

.item {
  display: flex;
  padding: auto;
  margin: auto;
}

/* .list-group-item {
  align-items: center;
} */